#header.alt .logo {
	-moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
	-webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
	-ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
	transition: opacity 1.25s ease, transform 0.5s ease;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	display: block;
	margin: 0 0 1.5em 0;
}

#header.alt .logo img {
	display: block;
	margin: 0 auto;
	max-width: 75%;
}

body.is-loading #header.alt .logo {
	-moz-transform: scale(0.8) rotate(-30deg);
	-webkit-transform: scale(0.8) rotate(-30deg);
	-ms-transform: scale(0.8) rotate(-30deg);
	transform: scale(0.8) rotate(-30deg);
}

h1.header {
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	color: #000000;
}

a:link    {
	text-decoration:  none;
	font-weight:      bold;
	background-color: #ddd;
	color:            blue;
}

a:visited {
	text-decoration:  none;
	font-weight:      bold;
	background-color: #ddd;
	color:            #f0f;
}

a:hover   {
	text-decoration:  none;
	font-weight:      bold;
	background-color: blue;
	color:            #fff;
}

a:active  {
	text-decoration:  none;
	font-weight:      bold;
	background-color: black;
	color: white;
}

