h1.header {
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	color: #000000;
	font-size: 34px;
}

#footer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.center {
	text-align: center;
	vertical-align: middle;
}

a:visited, a:link {
	text-decoration: none;
	color: black;
}

a:hover   {
	text-decoration: none;
	color: white;
}

body {
	background-image: url("https://www.clipartsgram.com/image/1495331224-best-blurred-background-wallpaper1.jpg");
	vertical-align: middle;
	margin: 0;
    padding: 0;
}

.navBar {
    background-color: #8E6D5E;
    overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.navBar a {
    float: left;
	text-align: center;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	margin: 0 auto;
}

.navBar a:hover {
    background-color: #FFFFFF;
    color: black;
}

.navBar a.active {
    background-color: #000000;
    color: white;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  outline: none;
  background-color: #000000;
  border: none;
  border-radius: 15px;
}

.button:hover {
	background-color: #ddd;
	color: black;
}

.breaker { 
	clear: both;
	padding-top: 15px;
}

img.circle {
	border-radius: 50%;
	border: 4px solid #000000;
	overflow: hidden;
	position: relative;
	width: 125px;
	height: 125px;
}